@font-face {
    font-family: 'SegoeUI-Light';
    src: url('../fonts/SegoeUI-Light.eot'); /* IE9 Compat Modes */
    src: url('../fonts/SegoeUI-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/SegoeUI-Light.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/SegoeUI-Light.woff') format('woff'), /* Pretty Modern Browsers */
         url('../fonts/SegoeUI-Light.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('../fonts/SegoeUI-Light.svg#svgFontName') format('svg'); /* Legacy iOS */
  }

@font-face {
font-family: 'SegoeUIBold';
src: url('../fonts/SegoeUIBold.eot'); /* IE9 Compat Modes */
src: url('../fonts/SegoeUI-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/SegoeUIBold.woff2') format('woff2'), /* Super Modern Browsers */
        url('../fonts/SegoeUI-Bold.woff') format('woff'), /* Pretty Modern Browsers */
        url('../fonts/SegoeUI-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
        url('../fonts/SegoeUI-Bold.svg#svgFontName') format('svg'); /* Legacy iOS */
}

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
body {
    line-height:1;
    font-family: 'SegoeUI-Light';
}
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}
#flexcontainer{
    
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: 0 auto;
    height: 100vh;
}
#mission{
    
    flex: 1 0 100%;
    padding-top: 4%;
    padding-bottom: 4%;
}
#mission h1 {
    text-align: center;
    font-size: 3.2em;
    margin: auto;
    max-width: 865px;
    font-weight: 100;
}
#logo{
    
    flex: 1 0 100%;
    padding-top: 3%;
    padding-bottom: 3%;
}
.landing_interaction{
    display: flex;
    flex-wrap: wrap;
    
    flex: 1 0 400px;
    height: 300px;
}
.landing_interaction h2 {
    
    font-size: 2.5em;
    max-width: 412px;
    text-align: center;
    font-weight: 100;
    margin: auto;
    padding: 3% 10%;
    min-height: 100px;
    line-height: 1.3em;
}
#download_icons{
    width: 415px;
    margin: 0 auto;
    
}

#download_icons img{
    float: left;
    margin: 0px 2%;
}

#footer{
    
    flex: 1 0 100%;
    height: 75px;
}
#footer nav{
    float: left;
}

#footer nav ul {
    display: flex;
    flex-wrap: wrap;
}

#footer nav ul li{
    margin: 0px 20px;
    list-style: none;
}
#footer nav ul li a{
    text-decoration: none;
}
#copyright{
    float: left;
}

#logo img{
    display: block;
    margin: auto;
}