@font-face {
    font-family: 'SegoeUI-Light';
    src: url('../fonts/SegoeUI-Light.eot'); /* IE9 Compat Modes */
    src: url('../fonts/SegoeUI-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/SegoeUI-Light.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/SegoeUI-Light.woff') format('woff'), /* Pretty Modern Browsers */
         url('../fonts/SegoeUI-Light.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('../fonts/SegoeUI-Light.svg#svgFontName') format('svg'); /* Legacy iOS */
  }

@font-face {
font-family: 'SegoeUIBold';
src: url('../fonts/SegoeUIBold.eot'); /* IE9 Compat Modes */
src: url('../fonts/SegoeUI-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/SegoeUIBold.woff2') format('woff2'), /* Super Modern Browsers */
        url('../fonts/SegoeUI-Bold.woff') format('woff'), /* Pretty Modern Browsers */
        url('../fonts/SegoeUI-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
        url('../fonts/SegoeUI-Bold.svg#svgFontName') format('svg'); /* Legacy iOS */
}

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
body {
    line-height:1;
    font-family: 'SegoeUI-Light';
}
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}
#flexcontainer{
    
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: 0 auto;
    height: 100vh;
}
#mission{
    
    flex: 1 0 100%;
    padding-top: 4%;
    padding-bottom: 4%;
}
#mission h1 {
    text-align: center;
    font-size: 3.2em;
    margin: auto;
    max-width: 865px;
    font-weight: 100;
}
#logo{  
    flex: 1 0 100%;
    padding-bottom: 3%;
}
.landing_interaction{
    display: flex;
    flex-wrap: wrap;
    flex: 1 0 400px;
    margin-bottom: 30px;
}
.landing_interaction h2 {
    flex: 1 0 100%;
    font-size: 2.3em;
    /* max-width: 412px; */
    text-align: center;
    font-weight: 100;
    margin: auto;

    line-height: 1.2em;
}
#download_icons{
    width: 420px;
    margin: 0 auto;
    margin-top: 3%;
}

#download_icons img{
    float: left;
    margin: auto;
    margin-left: 4%;
}

/**Form Style Rules **/
#mc_embed_signup{
    margin: auto;
    flex: 1 0 100%;
    max-width: 450px;
    margin-top: 3%;
}
#mc-embedded-subscribe-form{
    max-width: 700px;
    min-width: 325px;
}

input#mce-EMAIL, #mce-FNAME, #mce-LNAME {
    border: none;
    background-color: #eee;
    border-radius: 4px;
    outline: none;
    padding: 3%;
    font-size: 1.4em;
    width: 42%;
    margin-bottom: 4%;
    font-family: 'SegoeUI-Light', Arial, Helvetica, sans-serif;
}

input::placeholder {
    padding: 3%;
}
#mc-embedded-subscribe{
    border: none;
    background-color: black;
    color: white;
    padding: 4%;
    display: block;
    width: 100%;
    border-radius: 6px;
    font-weight: 900;
    font-size: 1.4em;
}
.indicates-required{
    display: none;
}

#footer{
    margin-top: 1%;
    flex: 1 0 100%;
    height: 75px;
}
#footer nav{
    float: right;
    font-weight: 900;
    letter-spacing: 3px;
}

#footer nav ul {
    display: flex;
    flex-wrap: wrap;
}

#footer nav ul li{
    margin: 0px 20px;
    list-style: none;
}
#footer nav ul li a{
    text-decoration: none;
    color: black;
}
#footer nav ul li a:visited{
   
    color: black;
}
#footer nav ul li a:hover{
    padding-top: 1%;
    border-top: 1px solid black;
}
#copyright{
    float: left;
    font-weight: 900;
}

#logo img{
    display: block;
    margin: auto;
}

/* smaller than 768 pixels */
@media screen and (max-width: 768px) {
    .landing_interaction{
        margin-bottom: 8%;
    }

    #mission h1 {
        font-size: 3em;
    }
    #copyright {
        margin-top: 3%;
    }
    #footer nav {
        margin-top: 3%;
        margin-bottom: 3%;
    }
    #logo img {

        margin-bottom:22%;
    }
}
/* smaller than 480 pixels */
@media screen and (max-width: 500px) {
    #logo img {
        width: 325px;
    }
}