@font-face {
    font-family: 'SegoeUI-Light';
    src: url('../fonts/SegoeUILight.eot'); /* IE9 Compat Modes */
    src: url('../fonts/SegoeUILight.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/SegoeUI-Light.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/SegoeUI-Light.woff') format('woff'), /* Pretty Modern Browsers */
         url('../fonts/SegoeUI-Light.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('../fonts/SegoeUI-Light.svg#svgFontName') format('svg'); /* Legacy iOS */
  }

@font-face {
    font-family: 'SegoeUI-Bold';
    src: url('../fonts/SegoeUI-Bold.eot'); /* IE9 Compat Modes */
    src: url('../fonts/SegoeUI-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/SegoeUI-Bold.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/SegoeUI-Bold.woff') format('woff'), /* Pretty Modern Browsers */
         url('../fonts/SegoeUI-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('../fonts/SegoeUI-Bold.svg#svgFontName') format('svg'); /* Legacy iOS */
  }


@font-face {
font-family: 'SegoeUIBold';
src: url('../fonts/SegoeUIBold.eot'); /* IE9 Compat Modes */
src: url('../fonts/SegoeUI-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/SegoeUIBold.woff2') format('woff2'), /* Super Modern Browsers */
        url('../fonts/SegoeUIBold.woff') format('woff'), /* Pretty Modern Browsers */
        url('../fonts/SegoeUI-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
        url('../fonts/SegoeUI-Bold.svg#svgFontName') format('svg'); /* Legacy iOS */
}

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
body {
    line-height:1;
    font-family: 'SegoeUI-Light';
}
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}
nav ul {
    list-style:none;
}
#flexcontainer{
    border: 2px solid green;
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
}
#mission{
    border: 2px solid red;
    flex: 1 0 100%;
    height: 20vh;


}
#mission h1{
    text-align: center;
    font-size: 3.2em;
    margin: 2% 18%;
    font-weight: 100;
    line-height: 1.2em;
}
#logo{
    border: 2px solid blue;
    flex: 1 0 100%;
    padding-bottom: 3%;
}

#logo img{
    margin: auto;
    display: block;
    margin-top: 36px;
}
.landing_interaction{
    border: 2px solid purple;
    flex: 1 0 400px;
     height: 30vh;
}
#footer{
    border: 2px solid orangered;
    height: 10vh;
    flex: 1 0 100%;
}
